@import url('https://fonts.googleapis.com/css?family=Quicksand');

@media only screen and (max-width: 800px) 
{
    /* For mobile phones: */
    .page-header-title img
    {
        width: 100%;
    }
   .page-header .page-header-title h1
    {
        width: 10%;
        float:left; 
        font-size: 6rem;
        float: left;
    }
    .container .page-header
    {
        padding: 1%;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        padding:auto;
        width:100%;
        
    }
    .page-header .page-header-buttons
    {
        width: 100%;
    }

}

.loader
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loading.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.95;
}
.modal-header h3
{
   color: rgb(26, 0, 0);
}

.page-header
{
    padding: 1%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;

    width:50%;
    height:50%;

    background-color: rgba(54, 0, 0, 0.00);
    border: 0px solid green;
}

.page-header-title
{
    border: 0px solid white;
    width: 100%;
    text-align:center;
    margin:auto;
}

.logo{
    transform: scale(1.5,1.5);
}



.btn-header
{
    position: relative;
    top:100%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;

}


.page-header-buttons
{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;
    border: 0px solid black;
    width: 50%;
    height: 30%;
}

.page-header-description p
{
    float:left;
    margin-left:3%;
}

.btn-header
{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:auto;
    float:left;
    width:47%;
    margin-left: 3%;
    background:none;
    color: rgb(41, 41, 41);
    border: 2px solid rgb(41, 41, 41);
    border-radius: 15px;
    height: 60%; 
    transition: color 0.5s ease,  border-color 0.5s ease;
    font-size:2rem;
    font-family: 'Quicksand', sans-serif;


}
.btn
{
    background:none;
    color: rgb(41, 41, 41);
    border: 2px solid rgb(41, 41, 41);
    border-radius: 15px;
}
.btn-success:hover
{
    background: none;
    color: green;
    transition: color 0.5s ease,  border-color 0.7s ease;
}

.btn-danger:hover
{
    background: none;
    color: red;
    transition: color 0.5s ease,  border-color 0.7s ease;
}

.form-label
{
    color:rgb(26, 0, 0);
}

.modal-backdrop
{
    background-color:white;
}

.modal-content
{
    background-color: rgba(255, 255, 255, 0.9);
}

form
{
    background-color: rgba(255, 255, 255, 0.0);
}


input
{
    background: none !important;
    border: 1px solid rgba(41, 41, 41, 0.75) !important;
    color:black !important;
}

.btn:focus
{
    background: none;
    color: rgb(41, 41, 41);

}

.modal-header
{
    text-align: center;
}

.modal
{
    font-family: 'Quicksand', sans-serif;
}


label
{
    border: 1px solid rgb(41, 41, 41) !important;
    border-radius: 3px !important;
}

label:hover
{
    background: none !important;
}

.modal-footer .btn
{
    background:none;
    color: rgb(41, 41, 41);
    border: 1px solid rgb(41, 41, 41);
    border-radius: 15px;
    transition: color 0.5s ease,  border-color 0.5s ease !important;
}
.modal-footer .btn-success:hover
{
    background: none;
    color: green;
    border-color: green;
    transition: color 0.5s ease,  border-color 0.7s ease;
}

.modal-footer .btn-danger:hover
{
    background: none;
    color: red;
    border-color: red;

    transition: color 0.5s ease,  border-color 0.7s ease;
}

.description h3{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 54px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 6px;
}
span#loginform-info {
    display: none;
    font-size: 16px;
    margin: 16px;
    transition: color 0.5s ease,  border-color 0.5s ease;
}